extends layouts/main

block content
    .form-container
        form(action=`${routes.users}${routes.changePassword}`, method="post")
            input(type="password", placeholder="Old password",name="passwordOld")
            input(type="password", placeholder="New password",name="passwordNew")
            input(type="password", placeholder="Verify new password",name="passwordNew2")
            input(type="submit", value="Change Password")