// $red: #ea232c;
$red: #8dc6ff;
$dark-red: #3a9cff; //bb2f2a;
$button-color: #597ea0;
$text-color: #96a7b6;
$light-grey: #e4f1fe;
$black: #192530;
$dark-grey: #22313f;
$comment_bg: #121d27;
$hr-color: #344d64
